@tailwind base;
@tailwind components;
@tailwind utilities;

/* Importar fuentes opcionales */
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;700&display=swap');
[x-cloak] { display: none !important; } /*<-- This Line right here!*/