/* Google Fonts — SIEMPRE DEBE IR PRIMERO */
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;700&display=swap');

/* Plugins externos — DEBEN IR ANTES DE TAILWIND */
@import "tom-select/dist/css/tom-select.css";

/* TAILWIND — SIEMPRE DESPUÉS DE LOS IMPORTS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Modo oscuro */
.dark {
    color-scheme: dark;
}

/* Alpine: ocultar mientras carga */
[x-cloak] {
    display: none !important;
}
